---
import clsx from "clsx";

export type Direction = "row" | "column";
export type Align = "start" | "center" | "end" | "stretch";
export type Justify = "start" | "center" | "end" | "between" | "around";
export type Gap = "tiny" | "small" | "medium" | "large";

interface Props {
  direction?: Direction;
  align?: Align;
  justify?: Justify;
  gap?: Gap;
  wrap?: boolean;
  grow?: boolean;
}

const { direction = "row", align, justify, wrap, grow, gap = "medium" } = Astro.props;
---

<div
  class={
    clsx(
      'flex',
      {
        [`flex-${direction}`]: direction,
        [`items-${align}`]: align,
        [`justify-${justify}`]: justify,
        'flex-wrap': wrap,
        'grow': grow,
        [`gap-${gap}`]: gap,
      }
    )
  }>
  <slot />
</div>

<style>
  .flex {
    display: flex;
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-col {
    flex-direction: column;
  }
  .items-start {
    align-items: flex-start;
  }
  .items-center {
    align-items: center;
  }
  .items-end {
    align-items: flex-end;
  }
  .items-stretch {
    align-items: stretch;
  }
  .justify-start {
    justify-content: flex-start;
  }
  .justify-center {
    justify-content: center;
  }
  .justify-end {
    justify-content: flex-end;
  }
  .justify-between {
    justify-content: space-between;
  }
  .justify-around {
    justify-content: space-around;
  }
  .flex-wrap {
    flex-wrap: wrap;
  }
  .flex-grow {
    flex-grow: 1;
  }
  .gap-tiny {
    gap: 0.25rem;
  }
  .gap-small {
    gap: 0.5rem;
  }
  .gap-medium {
    gap: 1rem;
  }
  .gap-large {
    gap: 1.5rem;
  }

</style>
