---
import SubPageHero from "@components/SubPageHero.astro";
import Layout from "@layouts/Layout.astro";
import { makeLorem } from "@utils/mock";
import { pages } from "@data/pageData";

const page = pages.find((page) => page.key === "about");

// TODO populate page with data, images, paragraphs
---

<Layout title={page?.title || ''}>
  <SubPageHero {...page} />
  <br />
  <div class="placeholder">{makeLorem(100)}</div>
</Layout>

<style>
  .placeholder {
    color: var(--text-color-secondary);
    border-radius: 8px;
    min-height: 50vh;
  }
</style>