---
import SubPageHero from "@components/SubPageHero.astro";
import Layout from "@layouts/Layout.astro";
import { pages } from "@utils/pageData";

const page = pages.find((page) => page.key === "about");

const lorem =
  "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, voluptatum. Perspiciatis repudiandae, ex, dolores dignissimos non dolorem minima, nobis esse neque atque aperiam explicabo obcaecati ipsa repellendus. Adipisci, ab animi!";

const gen = Array.from({ length: 100 }, () => lorem).join("\n\n\n\n");
---

<Layout title={page?.title || ''}>
  <SubPageHero {...page} />
  <br />
  <div class="placeholder">{gen}</div>
</Layout>

<style>
  .placeholder {
    color: var(--text-color-secondary);
    border-radius: 8px;
    min-height: 50vh;
  }
</style>