---
import SubPageHero from "@components/SubPageHero.astro";
import Layout from "@layouts/Layout.astro";
import { pages } from "@utils/pageData";

const page = pages.find((page) => page.label === "Education");
---

<Layout title={page?.label || ''}>
  <SubPageHero {...page} />
  <br />
  <p>This is the education page.</p>
</Layout>
