---
import SubPageHero from "@components/SubPageHero.astro";
import Layout from "@layouts/Layout.astro";
import { pages } from "@utils/pageData";

const page = pages.find((page) => page.key === "experience");

// TODO add Timeline(Entry) components to experience and education pages
// TODO animate timeline entries sliding in on scroll when they get into view (https://www.youtube.com/watch?v=Vcv01Czsq2Y)
---

<Layout title={page?.title || ''}>
  <SubPageHero {...page} />
  <br />
  <p>This is the experience page.</p>
</Layout>
