---
import SubPageHero from "@components/SubPageHero.astro";
import Timeline from "@components/Timeline/Timeline.astro";
import Layout from "@layouts/Layout.astro";
import { experienceTimelineEntries, pages } from "@utils/pageData";

const page = pages.find((page) => page.key === "experience");
---

<Layout title={page?.title || ''}>
  <SubPageHero {...page} />
  <br />
  <p>This is the experience page.</p>
  <br />
  <Timeline entries={experienceTimelineEntries} />
</Layout>
