---
import { createCssVariables } from "@utils/styles";

interface Props {
  width?: string;
  height?: string;
  color?: string;
  image?: string;
  aspectRatio?: number;
  textColor?: string;
  backgroundPosition?: string;
  loading?: "eager" | "lazy";
}

const {
  width,
  height,
  aspectRatio,
  color = "transparent",
  textColor = "inherit",
  image,
  backgroundPosition = "center",
  loading = "lazy",
} = Astro.props;

const cssVariables = createCssVariables({
  "--text-color": textColor,
  "--background-color": color,
  "--background-position": backgroundPosition,
  "--aspect-ratio": aspectRatio,
  "--width": width,
  "--height": height,
  "--image-display": image ? "display" : "none",
});
---

<div class="box" style={cssVariables} data-persist-container="true">
  <img src={image} alt={image} loading={loading} data-persist="true" />
</div>

<style>
  .box, img {
    aspect-ratio: var(--aspect-ratio, 1);
  }

  .box {
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: var(--width, auto);
    height: var(--height, auto);
    color: var(--text-color);
    background-color: var(--background-color);
  }

  img {
    height: auto;
    width: inherit;
    object-position: var(--background-position, center);
    object-fit: cover;
    display: var(--image-display);
  }
</style>

