---
interface Props {
  name: string;
  greeting?: string;
}

const { greeting = "Hello", name } = Astro.props;
---
<h1><span class="prompt">$</span> {greeting}, {name}!</h1>

<style>
  h1 {
    font-family: monospace;
  }

  .prompt {
    color: var(--theme-color);
  }

</style>