---

---

<a href="/" class="my-name">
  <span class="firstname">Adam</span>
  <span class="lastname">Kara</span>
</a>

<style>
  .my-name {
    display: flex;
    gap: 0.5rem;
    align-items: baseline;
  }

  .firstname {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--primary-color);
    display: block;
  }

  .lastname {
    font-size: 1.5rem;
    font-weight: 300;
    color: var(--primary-color);
    display: block;
  }

  a::after {
    display: none;
  }
</style>