---

interface Props {
  fontSize?: string;
  gap?: string;
}

const { fontSize, gap } = Astro.props;
---

<span class="my-name-container">
  <span class="my-name" style={`gap: ${gap || "0.5rem"}`}>
    <span class="firstname" style={`font-size: ${fontSize || "auto"}`}>Adam</span>
    <span class="lastname" style={`font-size: ${fontSize || "auto"}`}>Kara</span>
  </span>
</span>

<style>
  .my-name-container {
    display: inline-block;
  }

  .my-name {
    display: flex;
    align-items: baseline;
  }

  .firstname {
    font-weight: 700;
    color: var(--primary-color);
    display: block;
  }

  .lastname {
    font-weight: 300;
    color: var(--primary-color);
    display: block;
  }
</style>