---
import { createCssVariables } from "@utils/styles";
import clsx from "clsx";

interface Props {
  title: string;
  description?: string;
  dimmed?: boolean;
  dimAmount?: number;
  lightOnHover?: boolean;
  titleBackdrop?: boolean;
}

const {
  title,
  description,
  dimmed = false,
  dimAmount = 0.3,
  lightOnHover = false,
  titleBackdrop = false,
} = Astro.props;

const cssVars = createCssVariables({
  "--dim-amount": dimAmount,
});
---

<div class="overlay" style={cssVars}>
  <div class={clsx({ "backdrop": titleBackdrop })} />

  <div class="overlay-content">
    <div class="overlay-header">
      <h1 class="overlay-title">{title}</h1>
    </div>
    {description && <p>{description}</p>}
  </div>

  <div class={clsx("overlay-shadow", { "overlay-shadow-dimmed": dimmed, "lightOnHover": lightOnHover })} />

  <slot />
</div>

<style>
  .overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: start;
    overflow: hidden;
    z-index: 0;
  }

  .backdrop {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to top,
      rgba(0,0,0,0) 40%,
      rgba(0,0,0,0.7) 100%
    );
    z-index: 2;
    opacity: 0;
    animation: animateIn 1s ease-out forwards;
  }

  @keyframes animateIn {
    to {
      opacity: 1;
    }
  }

  .overlay-content {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    width: 100%;
    height: 100%;
    padding: 1rem;
    z-index: 3;
  }

  .overlay-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .overlay-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, var(--dim-amount));
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 1;
  }

  .overlay-shadow-dimmed {
    opacity: 1;
  }

  .overlay:hover .overlay-shadow.lightOnHover {
    opacity: 0;
  }
</style>
